{% extends 'patientmgt/base.html' %}

{% load staticfiles %}

{% block title %}Parent Details{% endblock %}

{% block nav_brand %}

<a href="#" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}


 {% block nav %}
	<div class="row navbar-right col-sm-4">
		<ul class="navbar-nav nav">
			<li><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Details <span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a href="{% url 'patientmgt_parent' %}">Parent</a></li>
                    <li><a href="{% url 'patientmgt_parent' %}">Child</a></li>
                </ul>
            </li>
			<li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="#">Blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
