{% extends 'patientmgt/base.html' %}

{% load staticfiles %}

{% block title %}Parent Details{% endblock %}

{% block nav_brand %}

<a href="#" class="navbar-brand">
    <img class="brand" src="{% static 'img/finance101.png' %}">
</a>

{% endblock %}


 {% block nav %}
	<div class="row navbar-right col-sm-4">
		<ul class="navbar-nav nav">
			<li><a href="{% url 'patientmgt_p_search' %}">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Details <span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a href="{% url 'patientmgt_parent' %}">Parent</a></li>
                    <li><a href="{% url 'patientmgt_child' %}">Child</a></li>
                </ul>
            </li>
			<li><a href="{% url 'patientmgt_insurance' %}">Insurance</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Diagnosis <span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'patientmgt_p_diagnosis' %}">Parent</a></li>
                    <li><a href="{% url 'patientmgt_child' %}">Child</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Patient<span class="caret"></span> </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'patientmgt_p_search' %}">Parent</a></li>
                    <li><a href="{% url 'patientmgt_child' %}">Child</a></li>
                </ul>
            </li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}

<div class="container auto_animate">
	<div class="maximum-width col-md-offset-2 margin-top-120 col-md-6">
		<div class="page-header" id="gallery">
			<h2> Detail.<small>Put details here.</small></h2>
		</div>
		<form class="form-horizontal" method="POST" action="" role="form" id="parent-form">
			{% csrf_token %}
            <div class="form-group ">
                <label for="f-name" class="control-label col-md-3">Name</label>
                <div class="col-md-3">
                    <input class="form-control" name="fname" placeholder="First name" type="text" id="f-name">
                </div>
                <div class="col-md-3">
                    <input class="form-control" name="mname" placeholder="Middle name" type="text">
                </div>
                <div class="col-md-3">
                    <input class="form-control" name="lname" placeholder="Last name" type="text">
                </div>
            </div>

            <div class="form-group ">
                <label for="mail-no" class="control-label col-md-3">Email address</label>
                <div class="col-md-9">
                    <input class="form-control" name="mail_no" placeholder="Email Address" type="email" id="mail-no">
                </div>
            </div>

            <div class="form-group ">
                <label for="p-id" class="control-label col-md-3">ID</label>
                <div class="col-md-9">
                    <input class="form-control" name="_id" placeholder="ID number" type="text" id="p-id">
                </div>
            </div>

            <div class="form-group ">
                <label for="mobile-no" class="control-label col-md-3">Mobile</label>
                <div class="col-md-9">
                    <input class="form-control" name="mobile" placeholder="Mobile number" type="tel" id="mobile-no">
                </div>
            </div>

            <div class="form-group ">
                <label for="b-day" class="control-label col-md-3">Date of Birth</label>
                <div class="col-md-9">
                    <input class="form-control" name="bday" placeholder="Birthday" type="date" id="b-day">
                </div>
            </div>

            <div class="col-md-offset-9">
				<button type="submit" class="btn btn-primary btn-block">Sign up</button>
			</div>
		</form>
    </div>
</div>

{% endblock %}
